
@font-face {
    font-family: 'hide';
    src: url('../fonts/hide.eot?73100328');
    src: url('../fonts/hide.eot?73100328#iefix') format('embedded-opentype'),
    url('../fonts/hide.woff2?73100328') format('woff2'),
    url('../fonts/hide.woff?73100328') format('woff'),
    url('../fonts/hide.ttf?73100328') format('truetype'),
    url('../fonts/hide.svg?73100328#hide') format('svg');
    font-weight: normal;
    font-style: normal;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeSpeed;
    background-color: #999;
    overflow: hidden;
}

iframe {
    margin: 0;
    padding: 0;
    border: 0;
}

.container-fluid {
    height: 100%;
    position: relative;
    z-index: 10;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAM0lEQVQYV2NsampazMDAwPD7928QxcAIE/j06RNEoLa2FqyClZUVIlBSUgIW4OPjAwsAAHb+DnC9MGIeAAAAAElFTkSuQmCC');
}

.info-wrap {
    position: fixed;
    top: 0;
    left: 15px;
    z-index: 10;
    margin-top: 15px;
    max-width: 100%;
    width: 430px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background-color: #e4e4e4;
    -webkit-box-shadow: 1px 1px 6px -1px #444;
    box-shadow: 1px 1px 6px -1px #444;
    padding: 15px;
    -webkit-transition: height 0.4s, width 0.4s;
    transition: height 0.4s, width 0.4s;
    overflow: auto;
    max-height: 97%;
}

.info-inner {
    width: 100%;
    max-height: 100%;
    overflow: hidden;
    -webkit-transition: opacity 0.4s;
    transition: opacity 0.4s;
}

.info-wrap._hidden .info-inner {
    opacity: 0;
}

.info-title,
.info-note {
    line-height: 1.3em;
}

.info-title a {
    text-decoration: none;
}

#bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 120%;
    margin-left: -10%;
    margin-top: -10%;
    height: 120%;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 1s linear, visibility 1s;
    transition: opacity 1s linear, visibility 1s;
    pointer-events: none;
}

#bg.visible {
    opacity: 1;
    visibility: visible;
}

.content-wrap {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 5;
}

.info-wrap-hide {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    opacity: .7;
    text-align: center;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
    z-index: 1;
}

.info-wrap-hide:hover {
    opacity: 1;
}

.info-wrap-hide:before {
    content: '\e800';
    font: 400 20px/1em "hide", sans-serif;
    speak: none;
    font-variant: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3);
}

.info-wrap-hide.active:before {
    content: '\e801';
}

.btns-wrap {
    padding: 15px 0;
}

.btn-default {
    width: 100%;
    margin-bottom: 7px;
}

.threeD-awesome {
    display: none;
    margin: 15px auto;
    width: 80%;
}

hr {
    border-color: #888;
}

.work-wrap {
    display: none
}